<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid" bis_skin_checked="1">
        <a class="navbar-brand" href="#">Inici</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <form>
            <div class="collapse navbar-collapse" id="navbarsExample02" bis_skin_checked="1">
                <!-- Botons formulari -->
            </div>
        </form>
    </div>
</nav>