<form action="" method="post" enctype="multipart/form-data">
    <div class="mb-3">
        <h3 class="text-center">Afegir Oferta</h3>
        <label for="Continent" class="form-label">Continent</label>
        <input type="datalistOptions" class="form-control" id="Continent" name="Continent" placeholder="Continent">
        <datalist id="datalistOptions">
            <option value="Europa">
            <option value="Àfrica">
            <option value="Amèrica">
            <option value="Àsia">
            <option value="Oceania">
        </datalist>
        <label for="Pais" class="form-label">País</label>
        <input type="text" class="form-control" id="Pais" name="Pais" placeholder="País">
        <label for="preupersona" class="form-label">Preu per persona</label>
        <input type="number" class="form-control" id="preupersona" name="preupersona" placeholder="Preu per persona">
        <label for="datainici" class="form-label">Data inici</label>
        <input type="date" class="form-control" id="datainici" name="datainici" placeholder="Data inici">
        <label for="datafinal" class="form-label">Data final</label>
        <input type="date" class="form-control" id="datafinal" name="datafinal" placeholder="Data final">
        <button type="submit" class="btn btn-primary">Afegir</button>
    </div>
</form>