<form enctype="multipart/form-data">
    <div class="mb-3">
        <h3>Crear Reserva</h3>
        <label class="form-label" for="data">Data</label>
        <input class="form-control" type="date" name="data" id="data">
        <label class="form-label" for="desti">Destí</label>
        <select class="form-control" onclick="llistarPaisos()" id="Continent" name="continents" class="form-select" aria-label="Continents">
            <option value="null" selected>Seleccioni un Continent</option>
            <option value="Europa">Europa</option>
            <option value="Asia">Àsia</option>
            <option value="Africa">Africa</option>
            <option value="America">Amèrica</option>
            <option value="Oceania">Oceania</option>
        </select>
        <label class="form-label" for="pais">País</label>
       <select id="Pais" name="Pais" class="form-select" aria-label="Paisos" disabled>
            <option value="0" selected>Seleccioni un Continent primer</option>
        </select>
        <label class="form-label" for="preu">Preu</label>
        <input class="form-control" type="number" name="preu" id="preu" disabled>
        <label class="form-label" for="nom">Nom</label>
        <input class="form-control" type="text" name="nom" id="nom">
        <label class="form-label" for="telefon">Telèfon</label>
        <input class="form-control" type="text" name="telefon" id="telefon">
        <label class="form-label" for="persones">Persones</label>
        <input class="form-control" type="number" name="persones" id="persones">
        <input type="checkbox" name="descompte" id="descompte">
        <label for="descompte">Descompte 20%</label>
        <br>
        <input class="btn btn-primary" type="submit" value="Reservar" onclick="reservar()">
    </div>
</form>
<div id="reserves" onload="mostrarReserves()"></div>